/* ELEMENT SELECTOR: Styles every element of this type. */
h2 {
    color: darkblue;
    font-family: "Arial", serif;
    font-size: 24px;
}

/* CLASS SELECTOR: Styles elements with class="info-box". */
.info-box {
    background-color: lightblue;
    padding: 20px;
    border: 2px; color: solid black;
    width: 400px;
}

/* ID SELECTOR: Styles the element with id="cssLogo". */
#cssLogo {
    margin: 20px;
    height: 100px;
}